{% extends 'base.html' %}

{% block title %} О сайте {% endblock %}

{% block content %}
<div class="container-fluid">
    <ul class="navigate">
        <li class="nav-item"><a href="/" class="nav-link">Главная страница</a></li>
        <li class="nav-item"><a href="/recipes/all_recipes/" class="nav-link">Все рецепты</a></li>
        <li class="nav-item"><a href="" class="nav-link">О сайте</a></li>
        <li class="nav-item"><a href="/recipes/add_recipe/" class="nav-link">Добавить рецепт</a></li>
        <li class="nav-item"><a href="/recipes/get_recipe/test/" class="nav-link">Просмотр рецепта по названию</a></li>
        <li class="nav-item"><a href="/recipes/upd_recipe/test/" class="nav-link">Изменить рецепт по названию</a></li>
        <li class="nav-item"><a href="/recipes/add_category/" class="nav-link">Добавить категорию</a></li>
        <li class="nav-item"><a href="/recipes/get_category/" class="nav-link">Посмотреть все категории</a></li>
        <li class="nav-item"><a href="/recipes/upd_category/" class="nav-link">Изменить категорию</a></li>
    </ul>

    <h1 class="heading">О сайте - Книга рецептов</h1>
    <p class="heading">Итоговая работа по курсу "Python-разработчик"</p>
</div>
{% endblock %}