{% extends 'base.html' %}

{% block title %} Книга рецептов {% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="heading">Книга рецептов</h1>
    <h2 class="heading">Список рецептов</h2>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for recipe in recipes %}
        <div class="card" style="width: 18rem;">
            <img src="{{ recipe.img_file.url }}" class="card-img-top" alt="Фото {{ recipe.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.name }}</h5>
                <p class="card-text">Ингредиенты: {{ recipe.ingredients }}</p>
                <p class="card-text">Автор: {{ recipe.author }}</p>
                <p class="card-text">Категория: {{ recipe.category }}</p>
                <a href="{% url 'get_recipe_by_name' recipe.name %}" class="btn btn-primary">Посмотреть
                    рецепт</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}