{% extends 'base.html' %}

{% block title %} Книга рецептов {% endblock %}

{% block content %}

    <h1 class="heading">Книга рецептов</h1>
    <h2 class="heading">Список всех рецептов</h2>

<div class="container text-center">
        {% for recipe in recipes %}
        <div class="row row-cols-2">
            {% if recipe.img_file %}
            <img src="{{ recipe.img_file.url }}" class="images" alt="Фото {{ recipe.name }}">
            {% endif %}
            <div class="col">
                <h4 class="title"> {{ recipe.name }}</h4>
                <p class="text"> Автор: {{ recipe.author }}</p>
                <p class="text"> Категории: {{ recipe.category }}</p>
                <p class="text"> Ингредиенты: {{ recipe.ingredients }}</p>
                <a href="{% url 'get_recipe_by_name' recipe.name %}" class="btn btn-primary">Посмотреть рецепт</a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}